# ==========================================
# Fazajoo - Production Environment Template
# ==========================================

# Frontend -> Backend API
VITE_API_BASE_URL=https://api.YOUR_DOMAIN.ir

# Neshan Web Map
VITE_NESHAN_WEB_MAP_KEY=PUT_YOUR_NESHAN_WEB_MAP_KEY_HERE